<div class="form-container">
  <h2>Create Account</h2>

  <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <label>Username:</label>
    <input type="text" formControlName="username" />
    <div *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched" class="error">
      Username must have at least 3 letters
    </div>

    <label>Password:</label>
    <input type="password" formControlName="password" />
    <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="error">
      Password must contain at least 6 characters, one uppercase letter and one number
    </div>

    <button type="submit" [disabled]="registerForm.invalid">Register</button>
  </form>

  <p class="success" *ngIf="message">{{ message }}</p>
  <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>

  <p class="switch">Already have an account?</p>
  <a routerLink="/login">Login</a>
</div>

