<h2>Register</h2>

<form [formGroup]="registerForm" (ngSubmit)="onRegister()">
  <label>
    Username:
    <input type="text" formControlName="username" />
  </label>
  <br /><br />

  <label>
    Password:
    <input type="password" formControlName="password" />
  </label>
  <br /><br />

  <button type="submit" [disabled]="registerForm.invalid">Register</button>
</form>

<p *ngIf="message" style="color: green">{{ message }}</p>
<p *ngIf="errorMessage" style="color: red">{{ errorMessage }}</p>
